.btn {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  @apply transition-all;
}
.btn:hover {
  background-color: skyblue;
  outline-color: skyblue;
}
.btn::before {
  content: "";
  z-index: -1;
  background-color: skyblue;
  transform: scaleX(0);
  transform-origin: left;
  @apply absolute top-0 left-0 right-0 bottom-0 transition-all;
}
.btn:hover::before {
  transform: scaleX(1);
}
