:root {
	--letters:  rgba(245,255,255);
	--background: rgba(0,0,20);
	--gradient-blue: linear-gradient(0,rgba(0,214,255), rgba(0,214,255,0.85),rgba(0,214,255,0.6),rgba(0,214,255,0.5),rgba(0,214,255,0.35),rgba(0,214,255,0.1));
	--gradient-orange: linear-gradient(0,rgba(255,119,0), rgba(255,119,0,0.85),rgba(255,119,0,0.6),rgba(255,119,0,0.5),rgba(255,119,0,0.35),rgba(255,119,0,0.1));
}

* {
	color: var(--letters);
	text-decoration: none;
	font-family: "Montserrat";
}
body {
	background-image: url(Images/25-best-hd-wallpapers-laptops159561982840438.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}
h2 {
	display: block;
	text-align: center;
}
/*Start of the nav */
header {
	position: fixed;
	width: 100%;
	height: 57px;
	background-color: var(--background);
	top: 0;
	z-index: 20;
}
nav {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}
nav > a {
	height: 100%;
	width: 100px;
}
.gradient {
	width: 100%;
	height: 5px;
	background: var(--gradient-blue);
}
a > p {
	text-align: center;
}
a:hover > .gradient {
	background: var(--gradient-orange);
}
a:hover {
	background-color: rgba(0, 0, 30, 1.0);
}
/*End of the nav*/

.container {
	background-color: var(--background);
	width: 100%;
	padding: 10px;
}

.content {
	position: relative;
	top: 800px;
	background-color: var(--background);
}

.skills {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
}

.skills_slot {
	height: 200px;
	width: 200px;
	margin: 10px;
	/*background-color: rgba(0, 0, 30, 1.0);*/

}

.skills_slot_icon {
	filter: grayscale(100%);
}

h3 {
	text-align: center;
}

div > img {
	position: relative;
}

#h3-1 {
	position: relative;
	top: -20px;
}

#h3-2 {
	position: relative;
	top: 20px;
	left: 3px;
}

#img1 {
	left: 13px;
	top: -10px;
}

#img2 {
	left: 24px;
}

#img3 {
	left: 24px;
}

#img4 {
	left: 25px;
	top: 10px;
}

#img6 {
	left: 39px;
	top: 18px;
}

h1 {
	text-align: center;
}