.modal {
  width: 100%;
  @media (min-width: 768px) {
    width: 68.25vw;
  }

  &__body {
    width: 100%;
    height: 600px;
    @media (min-width: 768px) {
      height: unset;
      padding-top: 62.25%;
    }
  }
  &__content {
    @apply h-full absolute top-0 bottom-0 left-0 right-0;
    display: grid;
    grid-template-rows: minmax(300px, 1fr) fit-content(150px);
  }
}
