.project {
  @apply relative w-full h-240 overflow-hidden rounded-xl z-10;

  .image {
    z-index: -10;
    @apply transform transition-all;
    transition-duration: 3000ms;
  }

  .info {
    @apply z-50 transition-all text-white delay-300 duration-200 opacity-0 absolute w-full h-full flex flex-col justify-center items-center;
  }

  &::before {
    content: "";
    transform-origin: top;
    @apply absolute top-0 left-0 right-0 bottom-0 transition-all duration-500 rounded-xl;
  }

  &:hover {
    &::before{
      background-color: #0007;
      backdrop-filter: blur(2px);
      filter: blur(1px);
    }

    .image {
      @apply scale-150;
    }

    .info {
      @apply opacity-100;
    }
  }
}
